[Xfce Panel]
Type=X-XFCE-PanelPlugin
Encoding=UTF-8
Name=CPU frequency monitor
Comment=Display the current CPU frequency scaling
Icon=utilities-system-monitor
X-XFCE-Module=bsdcpufreq
X-XFCE-Internal=false
X-XFCE-Unique=false
X-XFCE-API=2.0
